<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <!--For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468-->
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
    <entityFramework>
        <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
        </providers>
    </entityFramework>
    <connectionStrings>
        <add name="MailerEntities" connectionString="metadata=res://*/Mailer.csdl|res://*/Mailer.ssdl|res://*/Mailer.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ADAM-GO\SQLEXPRESS;initial catalog=Mailer;persist security info=True;user id=test;password=test;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
    <appSettings>
        <!--Debug switches-->
        <add key="DebugSendingEmailsOn" value="false" />
        <add key="DebugSendingEmailsResultValue" value="false" />
        <!--Variables-->
        <add key="IntervalAfterFailSendingAttemptInSeconds" value="60" />
        <add key="ProcessEmailsJobInterval" value="5" />
    </appSettings>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Quartz" publicKeyToken="f6b8c98a402cc8a4" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.5.0.0" newVersion="2.5.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <system.net>
        <mailSettings>
            <smtp configSource="MailSettings.config" />
        </mailSettings>
    </system.net>
</configuration>
